!!!
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title Cert Publisher
    %link{ :rel => 'stylesheet', :href => url('/css/bootstrap.min.css', false) }
    %link{ :rel => 'stylesheet', :href => url('/css/bootstrap-combobox.css', false) }
    %script{ :src => url('/js/jquery-1.7.2.min.js', false) }
    %script{ :src => url('/js/bootstrap.min.js', false) }
  %body{ :style => 'padding-top: 90px;' }
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ :href => url('/admin/', false) } Cert Publisher
          %ul.nav
            %li
              %a{ :href => url('/admin/access_log', false) }= t.button.access_log
    .container
      =yield
  
